<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Basic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- top nav -->
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/upload">Upload file</a>
    </div>

    <div class="upload_file_container">
        <h2>Chọn file upload</h2>
        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
            <div>
                <label>Select your profile picture:</label>
                <input type="file" name="profile_pic" />
            </div>
            <div>
                <input type="submit" name="btn_upload_profile_pic" value="Upload" />
            </div>
        </form>
        <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
            <div>
                <label>Select multiple images:</label>
                <input type="file" name="multiple_images" multiple />
            </div>
            <div>
                <input type="submit" name="btn_upload_multiple_images" value="Upload" />
            </div>
        </form>
    </div>

</body>

</html>