body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* css top nav */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.data-user {
    padding: 0 16px;
}

/*  css table */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #abc;
    color: white;
}

#customers td a {
    text-decoration: none;
    color: #000;
}

#customers td form {
    display: inline-block;
}


/* form */
#update-data-user,
#create-data-user {
    width: 500px;
    margin: 20px auto;
}

#update-data-user h3,
#create-data-user h3 {
    text-align: center;
}

#update-data-user .form-group,
#create-data-user .form-group {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

#update-data-user .form-group label,
#create-data-user .form-group label {
    min-width: 100px;
    font-size: 15px;
    padding: 4px;
}

#update-data-user .form-group input,
#create-data-user .form-group input {
    flex: 1;
    padding: 4px;
    font-size: 15px;
}

#update-data-user button,
#create-data-user button {
    padding: 6px;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}